# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
ios
android
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# Misc
.idea
*.iml
local.properties
.vscode/settings.json
local.properties
Generated.xcconfig

coverage/
.test_coverage.dart
