version: 2.1
executors:
  dart_sdk_image:
    docker:
      - image: google/dart
  flutter_sdk_image:
    docker:
      - image: cirrusci/flutter:latest

jobs:
  # Dart packages ---
  build_mobx:
    executor: dart_sdk_image
    environment:
      - FLUTTER: false
      - PACKAGE: mobx
    steps:
      - checkout
      - run: tool/circle_run.sh

  build_mobx_codegen:
    executor: dart_sdk_image
    environment:
      - FLUTTER: false
      - PACKAGE: mobx_codegen
    steps:
      - checkout
      - run: tool/circle_run.sh

  # Flutter packages ---
  build_flutter_mobx:
    executor: flutter_sdk_image
    environment:
      - FLUTTER: true
      - PACKAGE: flutter_mobx
    steps:
      - checkout
      - run: tool/circle_run.sh

workflows:
  version: 2.1
  mobx_packages:
    jobs:
      - build_mobx
      - build_mobx_codegen
      - build_flutter_mobx
