@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.vscode-highlight {
  --vscode-highlight-line-highlighted-background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* default: transparent */
  --vscode-highlight-line-highlighted-border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* default: transparent */
  --vscode-highlight-line-highlighted-border-width: 2px; /* default: 2px */
}
